@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Srisakdi:wght@400;700&display=swap');


:root{/*usado para definir as variaveis em css*/
    --fonte01:'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    --fonte02: 'Passion One', 'cursive';
    --fonte03: 'Srisakdi', 'cursive';
}


*{/*aqui sao configuracoes globais*/
    margin: 0px;
    padding: 0px;
  
}
html,body{ /*dessa forma ja consigo configurar 2 tegs ao mesmo tempo quando for a mesma config*/
    min-height: 100vh;/*tamanho equivalente a aba da tela*/
    background-color: blue;
    font-family: var(--fonte01);

}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-family: var(--fonte02);
    font-size: 8vw;/*utilizando a largura da tela/janela*/
}
header > p {
    padding-bottom: 50px;
}


a{
    color: rgb(255, 251, 251);
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;/*usando a autura da janela/tela*/
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-weight: bolder;
    font-size: 1.5em;
}


section.normal{
    background-color: white;
    color:black;
}
section.foto{
    color: beige;
    background-size: cover;/* para que a foto se adapte a tela */
    background-attachment: fixed;/*para que a foto fique fixada e o conteudo role*/
}
section.foto > p {
    background-color: rgba(0, 0, 0, 0.227);
    display: inline-block;
    padding: 10px;
}
section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    

}
section#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
   

}

footer{
    background-color: black;
    text-align: center;
    padding: 10px;/*tamaho vertical*/
    color: beige;
}